.form-control{
	width: auto;
}
.debug .wrapper {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  margin: 10px 0;
}

.debug .wrapper > div > div {
  padding: 0 25px;
}
#direct_upload_jquery, #direct_upload { padding: 20px 20px; margin: 20px 0;
    border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }

#direct_upload_jquery h1, #direct_upload h1 { margin: 0 0 15px 0; }

.back_link { font-weight: bold; display: block; font-size: 16px; margin: 10px 0; }

form { border: 1px solid #ddd; margin: 15px 0; padding: 15px 0; border-radius: 4px; }
form .form_line { margin-bottom: 20px; }
form .form_controls { margin-left: 180px; }
form label { float: left; width: 160px; padding: 6px; text-align: right; }
form .error { color: #c55; margin: 0 10px; }

#direct_upload, #direct_upload_jquery { border: 4px dashed #ccc; }
#direct_upload.dragover { border-color: #0c0; }
#direct_upload.dragover-err { border-color: #c00; }

.upload_details { font-size: 12px; margin: 20px; border-top: 1px solid #ccc; word-wrap: break-word; }
.upload_button_holder {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload_button {
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(15, 97, 172);
    color: #fff;
    padding: 5px 0;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100px;
    height: 28px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.upload_button_holder .upload_button {
    display: block;
} 

.upload_button:hover {
    background-color: rgb(17, 133, 240);
}
.upload_button_holder .cloudinary_fileupload {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
.progress-bar{
  width: 100px;
  position: relative;
  height: 4px;
}
.progress-bar .progress{
  height: 4px;
  background-color: #ff0000;
  width: 0;
}